<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="starter :: head"></head>
<body class="layout-navbar-fixed sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <div th:include="navbar :: navbar"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:include="starter :: asideLeft"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div th:include="starter :: page_header"></div>
        <!-- /.content-header -->

        <h1 id="alert"></h1>

        <a href="/stream/register">new Stream</a> | <a href="/team/register">new Team</a>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">

                        <!-- Profile Image -->
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img alt="User profile picture"
                                         class="profile-user-img img-fluid img-circle"
                                         th:src="${T(by.jrr.constant.LinkGenerator).getLinkToUserpic(profile)}">
                                </div>

                                <h3 class="profile-username text-center"
                                    th:text="${profile.getUser().getFullUserName()}"></h3>

                                <p class="text-muted text-center" id="userRoles" th:text="${profile.getUser().getAllRoles()}">Software
                                    Engineer</p>

                                <h2>Прогресс обучения</h2>
                                <h3>Теория</h3>
                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Вопросов</b> <a class="float-right"
                                                           th:text="${statistic.getQAndAsLearnedT().size()}">1,322</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Лекций</b> <a class="float-right"
                                                         th:text="${statistic.getLecturesLearnedT().size()}">543</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Статей</b> <a class="float-right"
                                                         th:text="${statistic.getTopicsLearnedT().size()}">13,287</a>
                                    </li>
                                </ul>

                                <h3>Практика</h3>
                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Решено задач</b> <a class="float-right"
                                                               th:text="${statistic.getPracticesApprovedR().size()}">1,322</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Опубликовано постов</b> <a class="float-right"
                                                                      th:text="${statistic.getSubjectsCRApprovedR().size()}">543</a>
                                    </li>
                                </ul>

                                <h3>Реальный опыт</h3>
                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Реализовано сторей</b> <a class="float-right"
                                                                     th:text="${statistic.getIssuesCRApprovedStoriesR().size()}">1,322</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Пофикшено багов</b> <a class="float-right"
                                                                  th:text="${statistic.getIssuesCRApprovedBugsR().size()}">543</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.card-body -->
                        </div>

                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                            href="#activity">
                                                            Activity</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                            href="#timeline">
                                                            Timeline</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                            href="#settings">
                                                            Settings</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                            href="#groupActions">
                                                            Actions In Group</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                            href="#userAction">
                                                            User Actions</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                            href="#billing">
                                                            Billing</a></li>
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                                            href="#lead-detail">
                                                            CRM</a>
                                    </li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">

                                    <th:block th:include="crm/profile/tab/streamAbout :: streamAbout" th:with="active=''"></th:block>
                                    <th:block th:include="crm/profile/tab/billing :: billing"></th:block>
                                    <th:block th:include="crm/profile/tab/streamSettings :: streamSettings"></th:block>
                                    <th:block th:include="crm/profile/tab/streamActivity :: streamActivity"></th:block>
                                    <th:block th:include="crm/profile/tab/userActions :: userActions"></th:block>
                                    <th:block th:include="crm/profile/tab/timeline :: timeline"></th:block>
                                    <th:block th:include="crm/profile/tab/leadDetailHistory :: history" th:with="active='active'"></th:block>

                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.nav-tabs-custom -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <div th:include="starter :: asideRight"></div>
</div>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<div th:include="starter :: footer"></div>

<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<div th:include="starter :: scripts"></div>
<script referrerpolicy="origin"
        src="https://cdn.tiny.cloud/1/lnen6exnxklkhdn3do3jx15plj5cxfmtuelx3xt4evmyysnl/tinymce/5/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#about',
        plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
        menubar: 'file edit view insert format tools table help',
        toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',

    });
</script>
</body>
</html>
