<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="buttonWithModalPopup">
    <script th:src="@{/my/js/validateUserData.js}"></script>
    <form class="mb-2"
          method="post"
          th:action="${'/profile/' + streamId}"
          th:if="${IS_AUTHENTICATED}">
        <button class="btn btn-primary btn-block" name="subscribe"
                type="submit" value="subscribe"><b>Записаться</b></button>
    </form>

    <div class="mb-2" th:unless="${IS_AUTHENTICATED}">
        <button class="btn btn-primary btn-block" data-toggle="modal"
                th:attr="data-target='#modal-default'+${streamId}"
                type="button">
            <b>Записаться</b>
        </button>
        <div aria-hidden="true" class="modal fade" style="display: none;"
             th:id="'modal-default'+${streamId}">
            <div class="modal-dialog">
                <div class="modal-content bg-default">
                    <div class="modal-header">

                        <h4 class="modal-title">Форма быстрой регистрации</h4>
                        <button aria-label="Close" class="close" data-dismiss="modal"
                                type="button">
                            <span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <p>После регистрации вы будете записаны на курс, а Ваш логин и
                            пароль
                            будет
                            выслан на почту. Дополнительного подтверждения не
                            потребуется. </p>
                        <form autocomplete="off"
                              method="post"
                              role="form"
                              th:action="@{/registerAndSubscribe}">
                            <input name="streamId" th:value="${streamId}"
                                   type="hidden">
                            <div class="input-group mb-3">
                                <input class="form-control"
                                       th:id="|firstAndLastName${streamId}|"
                                       name="firstAndLastName"
                                       th:onkeyup="'javascript:validateForm('+ ${streamId}+')'"
                                       placeholder="Ваше имя и фамилия"
                                       required
                                       th:value="${user.firstAndLastName}"
                                       type="text">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input class="form-control"
                                       th:id="|email${streamId}|"
                                       name="email"
                                       th:onkeyup="'javascript:validateForm('+ ${streamId}+')'"
                                       placeholder="Ваш Email"
                                       required
                                       th:value="${user.email}"
                                       type="text">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input class="form-control"
                                       th:id="|phone${streamId}|"
                                       name="phone"
                                       th:onkeyup="'javascript:validateForm('+ ${streamId}+')'"
                                       placeholder="Номер телефона"
                                       required
                                       th:value="${user.phone}"
                                       type="text">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8">
                                    &nbsp;
                                </div>
                                <!-- /.col -->
                                <div class="col-4">
                                    <button class="btn btn-primary btn-block" id="button"
                                            type="submit">
                                        <b>Записаться</b></button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer justify-content-between">
<!--                        <p class="text-danger" id="errors" th:id="'errors'+${streamId}" th:text="${error}"></p>-->
                        <p class="text-danger" th:id="|FIRST_AND_LAST_NAME_ERROR${streamId}|"></p>
                        <p class="text-danger" th:id="|EMAIL_ERROR${streamId}|"></p>
                        <p class="text-danger" th:id="|PHONE_ERROR${streamId}|"></p>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>

</div>
</body>
</html>
