<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Default box -->
<div th:fragment="subscribers">
    <div class="row">
        <div class="col-12">
            <div class="">
                <div class="row">
                    <div class="col-12" th:each="subscriber : ${subscribers}">
                        <div class="card">
                            <div class="card-header" th:if="${isUserIsOwner}">
                                <h3 class="card-title"></h3>
                                <div class="card-tools">

                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <div class="card-body">
                                <div class="user-block">
                                                                                    <img alt="User Image"
                                                                                         class="img-circle"
                                                                                         th:src="${T(by.jrr.constant.LinkGenerator).getLinkToUserpic(subscriber.getSubscriberProfile())}">
                                    <span class="username"><a
                                            th:href="${'/profile/'+subscriber.getSubscriberProfileId()}"
                                            th:text="${subscriber.getFullSubscriberName()}">Jonathan Burke Jr.</a></span>
                                    <span class="description">&nbsp;</span>
                                </div>
                                <!-- /.user-block -->
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer" th:text="${subscriber.getStatus()}">
                                more info
                            </div>
                            <!-- /.card-footer-->
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- /.row -->


</div>
</html>
