<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Default box -->
<div th:fragment="subscribers">
    <div class="card card-solid">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="">
                        <!--                    <div class="card-header">-->
                        <!--                        <form>-->
                        <!--                            <div class="input-group input-group-lg">-->

                        <!--                                <input class="form-control float-right" name="searchTerm"-->
                        <!--                                       placeholder="Search"-->
                        <!--                                       type="text">-->

                        <!--                                <div class="input-group-prepend">-->
                        <!--                                    <select name="filter" class="btn btn-primary dropdown-toggle">-->
                        <!--                                        <option th:value="${T(by.jrr.constant.Command).NO_FILTER}">Все</option>-->
                        <!--                                        <option th:value="${T(by.jrr.constant.Command).FILTER_STUDENTS}">Студенты</option>-->
                        <!--                                        <option th:value="${T(by.jrr.constant.Command).FILTER_STREAMS}">Комманды</option>-->
                        <!--                                        <option th:value="${T(by.jrr.constant.Command).FILTER_TEAMS}">Стримы</option>-->
                        <!--                                    </select>-->
                        <!--                                </div>-->

                        <!--                                <div class="input-group-append">-->
                        <!--                                    <button class="btn btn-primary" type="submit"><i-->
                        <!--                                            class="fas fa-search"></i></button>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </form>-->
                        <!--                    </div>-->
                        <!--                    &lt;!&ndash; /.card-header &ndash;&gt;-->

                        <div class="card-body">

                            <div class="row">
                                <div class="col-12" th:each="subscriber : ${profile.getSubscribers()}">
                                    <div class="card">
                                        <div class="card-header" th:if="${isUserIsOwner}">
                                            <h3 class="card-title"></h3>
                                            <div class="card-tools">
                                                <form method="post">
                                                    <input name="subscriberProfileId" th:value="${subscriber.getSubscriberProfileId()}"
                                                           type="hidden">
                                                <button class="btn btn-tool"
                                                        style="background: rgb(43, 43, 43) !important;"
                                                        title="Принять"
                                                        name="command"
                                                        type="submit"
                                                        value="approve">
                                                    <i class="fa fa-check"></i>Принять
                                                </button>
                                                <button class="btn btn-tool"
                                                        style="background: rgb(43, 43, 43) !important;"
                                                        title="Отклонить"
                                                        name="command"
                                                        type="submit"
                                                        value="reject">
                                                    <i class="fa fa-window-close">Отклонить</i>
                                                </button>
                                            </div>
                                            <!-- /.card-tools -->
                                        </div>
                                        <div class="card-body">
                                            <div class="user-block">
                                                <!--                                                <img alt="User Image"-->
                                                <!--                                                     class="img-circle"-->
                                                <!--                                                     th:src="${T(by.jrr.constant.LinkGenerator).getLinkToUserpic(profile)}">-->
                                                <span class="username"><a
                                                        th:href="${'/profile/'+subscriber.getSubscriberProfileId()}"
                                                        th:text="${subscriber.getFullSubscriberName()}">Jonathan Burke Jr.</a></span>
                                                <span class="description">&nbsp;</span>
                                            </div>
                                            <!-- /.user-block -->
                                        </div>
                                        <!-- /.card-body -->
                                        <div class="card-footer" th:text="${subscriber.getStatus()}">
                                            more info
                                        </div>
                                        <!-- /.card-footer-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

                <!--            <ul class="pagination pagination-lg m-0">-->
                <!--                <li class="page-item"-->
                <!--                    th:if="${profilePage.hasPrevious()}">-->
                <!--                    <a class="page-link" th:href="${'/profiles?searchTerm='-->
                <!--                                    +searchTerm+-->
                <!--                                    '&page='+(profilePage.getNumber())}">&laquo;</a>-->
                <!--                </li>-->
                <!--                <li class="page-item"-->
                <!--                    th:if="${profilePage.hasPrevious()}">-->
                <!--                    <a class="page-link" th:href="${'/profiles?searchTerm='-->
                <!--                                    +searchTerm+-->
                <!--                                    '&page='+(profilePage.getNumber())}" th:text="${(profilePage.getNumber())}"></a>-->
                <!--                </li>-->
                <!--                <li class="page-item">-->
                <!--                    <a class="page-link text-danger" th:href="${'/profiles?searchTerm='-->
                <!--                                    +searchTerm+-->
                <!--                                    '&page='+(profilePage.getNumber()+1)}" th:text="${(profilePage.getNumber()+1)}"></a>-->
                <!--                </li>-->
                <!--                <li class="page-item"-->
                <!--                    th:if="${profilePage.hasNext()}">-->
                <!--                    <a class="page-link" th:href="${'/profiles?searchTerm='-->
                <!--                                    +searchTerm+-->
                <!--                                    '&page='+(profilePage.getNumber()+2)}" th:text="${(profilePage.getNumber()+2)}"></a>-->
                <!--                </li>-->
                <!--                <li class="page-item"-->
                <!--                    th:if="${profilePage.hasNext()}" }>-->
                <!--                    <a class="page-link" href="#">...</a></li>-->

                <!--                <li class="page-item"-->
                <!--                    th:if="${profilePage.hasNext()}">-->
                <!--                    <a class="page-link" th:href="${'/profiles?searchTerm='-->
                <!--                                    +searchTerm+-->
                <!--                                    '&page='+(profilePage.getTotalPages())}" th:text="${(profilePage.getTotalPages())}">&laquo;</a>-->
                <!--                </li>-->
                <!--                <li class="page-item"-->
                <!--                    th:if="${profilePage.hasNext()}">-->
                <!--                    <a class="page-link" th:href="${'/profiles?searchTerm='-->
                <!--                                    +searchTerm+-->
                <!--                                    '&page='+(profilePage.getNumber()+2)}">&raquo;</a>-->
                <!--                </li>-->
                <!--            </ul>-->

            </div>
            <!-- /.row -->
        </div>
    </div>

</div>
</html>
