<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="starter :: head"></head>
<body class="layout-navbar-fixed sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <div th:include="navbar :: navbar"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:include="starter :: asideLeft"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div th:include="starter :: page_header"></div>
        <!-- /.content-header -->

        <a href="/stream/register">new Stream</a> | <a href="/team/register">new Team</a>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <form method="post" class="mb-2" th:unless="${isSubscribeAble}">
                            <button class="btn btn-primary btn-block" name="subscribe" type="submit"
                                    value="subscribe"><b>Записаться</b></button>
                        </form>

                        <div th:include="profile/stream::card" th:if="${STREAM}"></div>
                        <div th:include="profile/student::card"th:if="${TEAM}"></div>
                        <div th:include="profile/student::card"th:if="${STUDENT}"></div>


                        <!-- About Me Box -->
                        <!--                        <div class="card card-primary">-->
                        <!--                            <div class="card-header">-->
                        <!--                                <h3 class="card-title">About Me</h3>-->
                        <!--                            </div>-->
                        <!--                            &lt;!&ndash; /.card-header &ndash;&gt;-->
                        <!--                            <div class="card-body">-->
                        <!--                                <strong><i class="fas fa-book mr-1"></i> Education</strong>-->

                        <!--                                <p class="text-muted">-->
                        <!--                                    B.S. in Computer Science from the University of Tennessee at Knoxville-->
                        <!--                                </p>-->

                        <!--                                <hr>-->

                        <!--                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>-->

                        <!--                                <p class="text-muted">Malibu, California</p>-->

                        <!--                                <hr>-->

                        <!--                                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>-->

                        <!--                                <p class="text-muted">-->
                        <!--                                    <span class="tag tag-danger">UI Design</span>-->
                        <!--                                    <span class="tag tag-success">Coding</span>-->
                        <!--                                    <span class="tag tag-info">Javascript</span>-->
                        <!--                                    <span class="tag tag-warning">PHP</span>-->
                        <!--                                    <span class="tag tag-primary">Node.js</span>-->
                        <!--                                </p>-->

                        <!--                                <hr>-->

                        <!--                                <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>-->

                        <!--                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>-->
                        <!--                            </div>-->
                        <!--                            &lt;!&ndash; /.card-body &ndash;&gt;-->
                        <!--                        </div>-->
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#activity">Activity</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                            href="#timeline">Timeline</a></li>
                                    <li class="nav-item"
                                        th:if="${couldUpdate}"><a class="nav-link" data-toggle="tab"
                                                            href="#settings">Settings</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                            href="#lectures">Лекции курса</a></li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="activity">




                                        <div class="row">

                                            <div class="col-md-3 col-sm-6 col-12"
                                                 th:if="${profile.isLinkPresent(profile.getTelegramLink())}">
                                                <form action="/l/" method="post">
                                                    <input name="link" th:value="${profile.getTelegramLink()}"
                                                           type="hidden"/>
                                                    <input name="linkName" th:value="${profile.getTelegramLinkText()}"
                                                           type="hidden"/>
                                                    <input name="streamTeamId" th:value="${profile.getId()}" type="hidden"/>
                                                    <button class="btn btn-block"
                                                            name="eventType"
                                                            th:value="${T(by.jrr.registration.bean.EventType).TELEGRAM_CHAT}"
                                                            type="submit">
                                                <div class="info-box">
                                                        <span class="info-box-icon bg-gradient-blue"><i
                                                                class="fa fa-paper-plane"></i></span>

                                                    <div class="info-box-content text-left">
                                                        <span class="info-box-text">Чат группы</span>
                                                        <span class="info-box-text"
                                                              th:text="${profile.getTelegramLinkText()}"></span>
                                                    </div>
                                                    <!-- /.info-box-content -->
                                                </div>
                                                    </button>
                                                </form>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-md-3 col-sm-6 col-12"
                                                 th:if="${profile.isLinkPresent(profile.getZoomLink())}">
                                                <form action="/l/" method="post">
                                                    <input name="link" th:value="${profile.getZoomLink()}"
                                                           type="hidden"/>
                                                    <input name="linkName" th:value="${profile.getZoomLinkText()}"
                                                           type="hidden"/>
                                                    <input name="streamTeamId" th:value="${profile.getId()}" type="hidden"/>
                                                    <button class="btn btn-block"
                                                            name="eventType"
                                                            th:value="${T(by.jrr.registration.bean.EventType).TEAM_STAND_UP}"
                                                            type="submit">
                                                <div class="info-box">
                                                        <span class="info-box-icon bg-gradient-blue">
                                                            <i class="fa fa-video"></i>
                                                        </span>

                                                    <div class="info-box-content text-left">
                                                        <span class="info-box-text">Zoom StandUp</span>
                                                        <span class="info-box-text"
                                                              th:text="${profile.getZoomLinkText()}"></span>
                                                    </div>
                                                    <!-- /.info-box-content -->
                                                </div>
                                                <!-- /.info-box -->
                                                    </button>
                                                </form>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-md-3 col-sm-6 col-12"
                                                 th:if="${profile.isLinkPresent(profile.getGitLink())}">
                                                <form action="/l/" method="post">
                                                    <input name="link" th:value="${profile.getGitLink()}"
                                                           type="hidden"/>
                                                    <input name="linkName" th:value="${profile.getGitUsername()}"
                                                           type="hidden"/>
                                                    <input name="streamTeamId" th:value="${profile.getId()}" type="hidden"/>
                                                    <button class="btn btn-block"
                                                            name="eventType"
                                                            th:value="${T(by.jrr.registration.bean.EventType).GIT_LINK}"
                                                            type="submit">
                                                        <div class="info-box">
                                                        <span class="info-box-icon bg-gradient-blue">
                                                            <i class="fa fa-github"></i>
                                                        </span>

                                                            <div class="info-box-content text-left">
                                                                <span class="info-box-text">My GitHub</span>
                                                                <span class="info-box-text"
                                                                      th:text="${profile.getGitUsername()}"></span>
                                                            </div>
                                                            <!-- /.info-box-content -->
                                                        </div>
                                                        <!-- /.info-box -->
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-12"
                                                 th:if="${profile.isLinkPresent(profile.getFeedbackLink())}">
                                                <form action="/l/" method="post">
                                                    <input name="link" th:value="${profile.getFeedbackLink()}"
                                                           type="hidden"/>
                                                    <input name="linkName" th:value="${profile.getFeedbackName()}"
                                                           type="hidden"/>
                                                    <input name="streamTeamId" th:value="${profile.getId()}" type="hidden"/>
                                                    <button class="btn btn-block"
                                                            name="eventType"
                                                            th:value="${T(by.jrr.registration.bean.EventType).FEEDBACK}"
                                                            type="submit">
                                                        <div class="info-box">
                                                        <span class="info-box-icon bg-gradient-blue">
                                                            <i class="far fa-comment"></i>
                                                        </span>

                                                            <div class="info-box-content text-left">
                                                                <span class="info-box-text">Feedback</span>
                                                                <span class="info-box-text"
                                                                      th:text="${profile.getFeedbackName()}"></span>
                                                            </div>
                                                            <!-- /.info-box-content -->
                                                        </div>
                                                        <!-- /.info-box -->
                                                    </button>
                                                </form>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- /.row -->

                                        <!-- Post -->
                                        <div class="post">
                                            <div th:utext="${profile.getAbout()}"/>
                                        </div>
                                        <!-- /.post -->

                                        <!-- Post -->
                                        <div th:if="${profile.getSubscribers().size()>0}">
                                            <div th:include="profile/list :: subscribers"></div>
                                        </div>
                                        <!-- /.post -->

                                        <!-- Post -->
                                        <div class="post clearfix" th:if="${profile.getSubscriptions().size()>0}">
                                            <h2> Подписки </h2>
                                            <table class="table table-hover text-nowrap">
                                                <thead>
                                                <tr>
                                                    <th>Статус</th>
                                                    <th>Имя</th>
                                                    <th>Профиль</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="subscription : ${profile.getSubscriptions()}">
                                                    <td th:text="${subscription.getStatus()}"></td>
                                                    <td th:text="${subscription.getFullSubscriptionName()}"></td>
                                                    <td>
                                                        <a th:href="${'/profile/'+subscription.getStreamTeamProfileId()}">open</a>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.post -->
                                        <h1>Best student</h1>
                                        <!-- Post -->
                                        <div class="post clearfix">
                                            <table class="table table-hover text-nowrap"
                                                   th:if="${bestStudentList.size()>0}">
                                                <thead>
                                                <tr>
                                                    <th>Имя</th>
                                                    <th></th>
                                                    <th>Лекции</th>
                                                    <th></th>
                                                    <th>Фидбеки</th>
                                                    <th></th>
                                                    <th>Стендапы</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="statistic : ${bestStudentList}">
                                                    <td th:text="${statistic.getUserFirstAndLastName()}"></td>
                                                    <td th:text="${statistic.getLectures().size()}"></td>
                                                    <td th:text="${statistic.printLectures()}"></td>
                                                    <td th:text="${statistic.getFeedbacks().size()}"></td>
                                                    <td th:text="${statistic.printFeedbacks()}"></td>
                                                    <td th:text="${statistic.getStandups().size()}"></td>
                                                    <td th:text="${statistic.printStandups()}"></td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.post -->


                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="timeline">
                                        <!-- The timeline -->
                                        <!--                                        <div class="timeline timeline-inverse">-->
                                        <!--                                            &lt;!&ndash; timeline time label &ndash;&gt;-->
                                        <!--                                            <div class="time-label">-->
                                        <!--                            <span class="bg-danger">-->
                                        <!--                              10 Feb. 2014-->
                                        <!--                            </span>-->
                                        <!--                                            </div>-->
                                        <!--                                            &lt;!&ndash; /.timeline-label &ndash;&gt;-->
                                        <!--                                            &lt;!&ndash; timeline item &ndash;&gt;-->
                                        <!--                                            <div>-->
                                        <!--                                                <i class="fas fa-envelope bg-primary"></i>-->

                                        <!--                                                <div class="timeline-item">-->
                                        <!--                                                    <span class="time"><i class="far fa-clock"></i> 12:05</span>-->

                                        <!--                                                    <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>-->

                                        <!--                                                    <div class="timeline-body">-->
                                        <!--                                                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,-->
                                        <!--                                                        weebly ning heekya handango imeem plugg dopplr jibjab, movity-->
                                        <!--                                                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle-->
                                        <!--                                                        quora plaxo ideeli hulu weebly balihoo...-->
                                        <!--                                                    </div>-->
                                        <!--                                                    <div class="timeline-footer">-->
                                        <!--                                                        <a href="#" class="btn btn-primary btn-sm">Read more</a>-->
                                        <!--                                                        <a href="#" class="btn btn-danger btn-sm">Delete</a>-->
                                        <!--                                                    </div>-->
                                        <!--                                                </div>-->
                                        <!--                                            </div>-->
                                        <!--                                            &lt;!&ndash; END timeline item &ndash;&gt;-->
                                        <!--                                            &lt;!&ndash; timeline item &ndash;&gt;-->
                                        <!--                                            <div>-->
                                        <!--                                                <i class="fas fa-user bg-info"></i>-->

                                        <!--                                                <div class="timeline-item">-->
                                        <!--                                                    <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>-->

                                        <!--                                                    <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend request-->
                                        <!--                                                    </h3>-->
                                        <!--                                                </div>-->
                                        <!--                                            </div>-->
                                        <!--                                            &lt;!&ndash; END timeline item &ndash;&gt;-->
                                        <!--                                            &lt;!&ndash; timeline item &ndash;&gt;-->
                                        <!--                                            <div>-->
                                        <!--                                                <i class="fas fa-comments bg-warning"></i>-->

                                        <!--                                                <div class="timeline-item">-->
                                        <!--                                                    <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>-->

                                        <!--                                                    <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>-->

                                        <!--                                                    <div class="timeline-body">-->
                                        <!--                                                        Take me to your leader!-->
                                        <!--                                                        Switzerland is small and neutral!-->
                                        <!--                                                        We are more like Germany, ambitious and misunderstood!-->
                                        <!--                                                    </div>-->
                                        <!--                                                    <div class="timeline-footer">-->
                                        <!--                                                        <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>-->
                                        <!--                                                    </div>-->
                                        <!--                                                </div>-->
                                        <!--                                            </div>-->
                                        <!--                                            &lt;!&ndash; END timeline item &ndash;&gt;-->
                                        <!--                                            &lt;!&ndash; timeline time label &ndash;&gt;-->
                                        <!--                                            <div class="time-label">-->
                                        <!--                        <span class="bg-success">-->
                                        <!--                          3 Jan. 2014-->
                                        <!--                        </span>-->
                                        <!--                                            </div>-->
                                        <!--                                            &lt;!&ndash; /.timeline-label &ndash;&gt;-->
                                        <!--                                            &lt;!&ndash; timeline item &ndash;&gt;-->
                                        <!--                                            <div>-->
                                        <!--                                                <i class="fas fa-camera bg-purple"></i>-->

                                        <!--                                                <div class="timeline-item">-->
                                        <!--                                                    <span class="time"><i class="far fa-clock"></i> 2 days ago</span>-->

                                        <!--                                                    <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>-->

                                        <!--                                                    <div class="timeline-body">-->
                                        <!--                                                        <img src="http://placehold.it/150x100" alt="...">-->
                                        <!--                                                        <img src="http://placehold.it/150x100" alt="...">-->
                                        <!--                                                        <img src="http://placehold.it/150x100" alt="...">-->
                                        <!--                                                        <img src="http://placehold.it/150x100" alt="...">-->
                                        <!--                                                    </div>-->
                                        <!--                                                </div>-->
                                        <!--                                            </div>-->
                                        <!--                                            &lt;!&ndash; END timeline item &ndash;&gt;-->
                                        <!--                                            <div>-->
                                        <!--                                                <i class="far fa-clock bg-gray"></i>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                    </div>

                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="settings">
                                        <form class="form-horizontal" method="post"
                                              th:action="'/profile/'+${profile.getId()}+'/update'">
                                            <input class="form-control" name="id" th:value="${profile.getId()}"
                                                   type="hidden">
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label" for="inputName">Дата
                                                    начала</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" id="inputName"
                                                           name="dateStart" placeholder="Name"
                                                           th:value="${profile.getDateStart()}"
                                                           type="date"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label" for="dateEnd">Планируемая дата
                                                    окончания</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" id="dateEnd" name="dateEnd"
                                                           placeholder="Email" th:value="${profile.getDateEnd()}"
                                                           type="date">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label" for="gitLink">GitHub link</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" id="gitLink" name="gitLink"
                                                           placeholder="" th:value="${profile.getGitLink()}"
                                                           type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label" for="gitUsername">GitHub username</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" id="gitUsername"
                                                           name="gitUsername"
                                                           placeholder="" th:value="${profile.getGitUsername()}"
                                                           type="text">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label" for="telegramLink">Ссылка на
                                                    телеграм чат</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" id="telegramLink" name="telegramLink"
                                                           placeholder="" th:value="${profile.getTelegramLink()}"
                                                           type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label" for="telegramLinkName">Название
                                                    группы в telegram</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" id="telegramLinkName"
                                                           name="telegramLinkName"
                                                           placeholder="" th:value="${profile.getTelegramLinkText()}"
                                                           type="text">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label" for="zoomLink">Zoom Stand-Up link</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" id="zoomLink" name="zoomLink"
                                                           placeholder="" th:value="${profile.getZoomLink()}"
                                                           type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label" for="zoomLinkName">Название
                                                    Zoom link</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" id="zoomLinkName"
                                                           name="zoomLinkName"
                                                           placeholder="" th:value="${profile.getZoomLinkText()}"
                                                           type="text">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label" for="feedbackLink">Feedback form link</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" id="feedbackLink" name="feedbackLink"
                                                           placeholder="" th:value="${profile.getFeedbackLink()}"
                                                           type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label" for="feedbackName">Название feedback Формы</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" id="feedbackName"
                                                           name="feedbackName"
                                                           placeholder="" th:value="${profile.getFeedbackName()}"
                                                           type="text">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>About</label>
                                                <textarea class="form-control" id="about" name="about" rows="3"
                                                          th:text="${profile.getAbout()}"> </textarea>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-sm-2 col-sm-10">
                                                    <button class="btn btn-danger" name="updateProfile" type="submit">
                                                        Update
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                        <form class="form-horizontal" enctype="multipart/form-data" method="post">
                                            <h1> Set User Picture </h1>
                                            <div class="form-group row">
                                                <div class="custom-file">
                                                    <input class="form-control custom-file-input" id="customFile"
                                                           name="avatar" placeholder="Upload avatar file"
                                                           type="file">
                                                    <label class="custom-file-label" for="customFile">Choose
                                                        file</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-sm-2 col-sm-10">
                                                    <button class="btn btn-danger" name="saveProfile" type="submit">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.tab-pane -->

                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="lectures">
                                        <div th:insert="moodle/lectureList :: lectureList"></div>
                                    </div>
                                    <!-- /.tab-pane -->

                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.nav-tabs-custom -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <div th:include="starter :: asideRight"></div>
</div>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<div th:include="starter :: footer"></div>

<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<div th:include="starter :: scripts"></div>
<script referrerpolicy="origin"
        src="https://cdn.tiny.cloud/1/lnen6exnxklkhdn3do3jx15plj5cxfmtuelx3xt4evmyysnl/tinymce/5/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#about',
        plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
        menubar: 'file edit view insert format tools table help',
        toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',

    });
</script>
<script src="https://use.fontawesome.com/eec5925178.js"></script>
</body>
</html>
