<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="starter :: head"></head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <div th:include="navbar :: navbar"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:include="starter :: asideLeft"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div th:include="starter :: page_header"></div>
        <!-- /.content-header -->

        <a href="/stream/register">new Stream</a> | <a href="/team/register">new Team</a>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">

                        <!-- Profile Image -->
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img alt="User profile picture"
                                         class="profile-user-img img-fluid img-circle"
                                         th:src="${T(by.jrr.constant.LinkGenerator).getLinkToUserpic(profile)}">
                                </div>

                                <h3 class="profile-username text-center"
                                    th:text="${profile.getUser().getFullUserName()}"></h3>

                                <p class="text-muted text-center" th:text="${profile.getUser().getAllRoles()}">Software
                                    Engineer</p>

                                <h2>Прогресс обучения</h2>
                                <h3>Теория</h3>
                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Вопросов</b> <a class="float-right"
                                                           th:text="${statistic.getQAndAsLearnedT().size()}">1,322</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Лекций</b> <a class="float-right"
                                                         th:text="${statistic.getLecturesLearnedT().size()}">543</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Статей</b> <a class="float-right"
                                                         th:text="${statistic.getTopicsLearnedT().size()}">13,287</a>
                                    </li>
                                </ul>

                                <h3>Практика</h3>
                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Решено задач</b> <a class="float-right"
                                                               th:text="${statistic.getPracticesApprovedR().size()}">1,322</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Опубликовано постов</b> <a class="float-right"
                                                                      th:text="${statistic.getSubjectsCRApprovedR().size()}">543</a>
                                    </li>
                                </ul>

                                <h3>Реальный опыт</h3>
                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Реализовано сторей</b> <a class="float-right"
                                                                     th:text="${statistic.getIssuesCRApprovedStoriesR().size()}">1,322</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Пофикшено багов</b> <a class="float-right"
                                                                  th:text="${statistic.getIssuesCRApprovedBugsR().size()}">543</a>
                                    </li>
                                </ul>
                                <form method="post">
                                    <button class="btn btn-primary btn-block" name="subscribe" type="submit"
                                            value="subscribe"><b>Записаться</b></button>
                                </form>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                        <!-- About Me Box -->
                        <!--                        <div class="card card-primary">-->
                        <!--                            <div class="card-header">-->
                        <!--                                <h3 class="card-title">About Me</h3>-->
                        <!--                            </div>-->
                        <!--                            &lt;!&ndash; /.card-header &ndash;&gt;-->
                        <!--                            <div class="card-body">-->
                        <!--                                <strong><i class="fas fa-book mr-1"></i> Education</strong>-->

                        <!--                                <p class="text-muted">-->
                        <!--                                    B.S. in Computer Science from the University of Tennessee at Knoxville-->
                        <!--                                </p>-->

                        <!--                                <hr>-->

                        <!--                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>-->

                        <!--                                <p class="text-muted">Malibu, California</p>-->

                        <!--                                <hr>-->

                        <!--                                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>-->

                        <!--                                <p class="text-muted">-->
                        <!--                                    <span class="tag tag-danger">UI Design</span>-->
                        <!--                                    <span class="tag tag-success">Coding</span>-->
                        <!--                                    <span class="tag tag-info">Javascript</span>-->
                        <!--                                    <span class="tag tag-warning">PHP</span>-->
                        <!--                                    <span class="tag tag-primary">Node.js</span>-->
                        <!--                                </p>-->

                        <!--                                <hr>-->

                        <!--                                <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>-->

                        <!--                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>-->
                        <!--                            </div>-->
                        <!--                            &lt;!&ndash; /.card-body &ndash;&gt;-->
                        <!--                        </div>-->
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#activity">Activity</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                            href="#timeline">Timeline</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                            href="#settings">Settings</a></li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="activity">

                                        <div class="col-md-6 col-sm-6 col-12">
                                            <a th:href="${profile.getTelegramLink()}">
                                                <div class="info-box">
                                                    <span class="info-box-icon bg-gradient-blue"><i
                                                            class="fa fa-paper-plane"></i></span>

                                                    <div class="info-box-content">
                                                        <span class="info-box-text">Чат группы</span>
                                                        <span class="info-box-text" th:text="${profile.getTelegramLinkText()}"></span>
                                                    </div>
                                                    <!-- /.info-box-content -->
                                                </div>
                                                <!-- /.info-box -->
                                            </a>
                                        </div>

                                        <!-- Post -->
                                        <div class="post">
                                            <div th:utext="${profile.getAbout()}"/>
                                        </div>
                                        <!-- /.post -->

                                        <!-- Post -->
                                        <div class="post clearfix">
                                            <table class="table table-hover text-nowrap"
                                                   th:if="${profile.getSubscribers().size()>0}">
                                                <thead>
                                                <tr>
                                                    <th>Статус</th>
                                                    <th>Имя</th>
                                                    <th>Профиль</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="subscriber : ${profile.getSubscribers()}">
                                                    <td th:text="${subscriber.getStatus()}"></td>
                                                    <td th:text="${subscriber.getFullSubscriberName()}"></td>
                                                    <td><a th:href="${'/profile/'+subscriber.getSubscriberProfileId()}">open</a>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.post -->

                                        <!-- Post -->
                                        <div class="post clearfix" th:if="${profile.getSubscriptions().size()>0}">
                                            <h2> Подписки </h2>
                                            <table class="table table-hover text-nowrap">
                                                <thead>
                                                <tr>
                                                    <th>Статус</th>
                                                    <th>Имя</th>
                                                    <th>Профиль</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="subscription : ${profile.getSubscriptions()}">
                                                    <td th:text="${subscription.getStatus()}"></td>
                                                    <td th:text="${subscription.getFullSubscriptionName()}"></td>
                                                    <td><a th:href="${'/profile/'+subscription.getStreamTeamProfileId()}">open</a>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.post -->


                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="timeline">
                                        <!-- The timeline -->
                                        <!--                                        <div class="timeline timeline-inverse">-->
                                        <!--                                            &lt;!&ndash; timeline time label &ndash;&gt;-->
                                        <!--                                            <div class="time-label">-->
                                        <!--                            <span class="bg-danger">-->
                                        <!--                              10 Feb. 2014-->
                                        <!--                            </span>-->
                                        <!--                                            </div>-->
                                        <!--                                            &lt;!&ndash; /.timeline-label &ndash;&gt;-->
                                        <!--                                            &lt;!&ndash; timeline item &ndash;&gt;-->
                                        <!--                                            <div>-->
                                        <!--                                                <i class="fas fa-envelope bg-primary"></i>-->

                                        <!--                                                <div class="timeline-item">-->
                                        <!--                                                    <span class="time"><i class="far fa-clock"></i> 12:05</span>-->

                                        <!--                                                    <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>-->

                                        <!--                                                    <div class="timeline-body">-->
                                        <!--                                                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,-->
                                        <!--                                                        weebly ning heekya handango imeem plugg dopplr jibjab, movity-->
                                        <!--                                                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle-->
                                        <!--                                                        quora plaxo ideeli hulu weebly balihoo...-->
                                        <!--                                                    </div>-->
                                        <!--                                                    <div class="timeline-footer">-->
                                        <!--                                                        <a href="#" class="btn btn-primary btn-sm">Read more</a>-->
                                        <!--                                                        <a href="#" class="btn btn-danger btn-sm">Delete</a>-->
                                        <!--                                                    </div>-->
                                        <!--                                                </div>-->
                                        <!--                                            </div>-->
                                        <!--                                            &lt;!&ndash; END timeline item &ndash;&gt;-->
                                        <!--                                            &lt;!&ndash; timeline item &ndash;&gt;-->
                                        <!--                                            <div>-->
                                        <!--                                                <i class="fas fa-user bg-info"></i>-->

                                        <!--                                                <div class="timeline-item">-->
                                        <!--                                                    <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>-->

                                        <!--                                                    <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend request-->
                                        <!--                                                    </h3>-->
                                        <!--                                                </div>-->
                                        <!--                                            </div>-->
                                        <!--                                            &lt;!&ndash; END timeline item &ndash;&gt;-->
                                        <!--                                            &lt;!&ndash; timeline item &ndash;&gt;-->
                                        <!--                                            <div>-->
                                        <!--                                                <i class="fas fa-comments bg-warning"></i>-->

                                        <!--                                                <div class="timeline-item">-->
                                        <!--                                                    <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>-->

                                        <!--                                                    <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>-->

                                        <!--                                                    <div class="timeline-body">-->
                                        <!--                                                        Take me to your leader!-->
                                        <!--                                                        Switzerland is small and neutral!-->
                                        <!--                                                        We are more like Germany, ambitious and misunderstood!-->
                                        <!--                                                    </div>-->
                                        <!--                                                    <div class="timeline-footer">-->
                                        <!--                                                        <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>-->
                                        <!--                                                    </div>-->
                                        <!--                                                </div>-->
                                        <!--                                            </div>-->
                                        <!--                                            &lt;!&ndash; END timeline item &ndash;&gt;-->
                                        <!--                                            &lt;!&ndash; timeline time label &ndash;&gt;-->
                                        <!--                                            <div class="time-label">-->
                                        <!--                        <span class="bg-success">-->
                                        <!--                          3 Jan. 2014-->
                                        <!--                        </span>-->
                                        <!--                                            </div>-->
                                        <!--                                            &lt;!&ndash; /.timeline-label &ndash;&gt;-->
                                        <!--                                            &lt;!&ndash; timeline item &ndash;&gt;-->
                                        <!--                                            <div>-->
                                        <!--                                                <i class="fas fa-camera bg-purple"></i>-->

                                        <!--                                                <div class="timeline-item">-->
                                        <!--                                                    <span class="time"><i class="far fa-clock"></i> 2 days ago</span>-->

                                        <!--                                                    <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>-->

                                        <!--                                                    <div class="timeline-body">-->
                                        <!--                                                        <img src="http://placehold.it/150x100" alt="...">-->
                                        <!--                                                        <img src="http://placehold.it/150x100" alt="...">-->
                                        <!--                                                        <img src="http://placehold.it/150x100" alt="...">-->
                                        <!--                                                        <img src="http://placehold.it/150x100" alt="...">-->
                                        <!--                                                    </div>-->
                                        <!--                                                </div>-->
                                        <!--                                            </div>-->
                                        <!--                                            &lt;!&ndash; END timeline item &ndash;&gt;-->
                                        <!--                                            <div>-->
                                        <!--                                                <i class="far fa-clock bg-gray"></i>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                    </div>
                                    <!-- /.tab-pane -->

                                    <div class="tab-pane" id="settings">
                                        <form class="form-horizontal" method="post"
                                              th:action="'/profile/'+${profile.getId()}+'/update'">
                                            <input class="form-control" name="id" th:value="${profile.getId()}"
                                                   type="hidden">
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label" for="inputName">Дата
                                                    начала</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" id="inputName"
                                                           name="dateStart" placeholder="Name" th:value="${profile.getDateStart()}"
                                                           type="date"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label" for="inputEmail">Планируемая дата
                                                    окончания</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" id="inputEmail" name="dateEnd"
                                                           placeholder="Email" th:value="${profile.getDateEnd()}" type="date">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label" for="telegramLink">Ссылка на телеграм чат</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" id="telegramLink" name="telegramLink"
                                                           placeholder="" th:value="${profile.getTelegramLink()}" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label" for="telegramLinkName">Название группы в telegram</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" id="telegramLinkName" name="telegramLinkName"
                                                           placeholder="" th:value="${profile.getTelegramLinkText()}" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>About</label>
                                                <textarea class="form-control" id="about" name="about" rows="3"
                                                          th:text="${profile.getAbout()}"> </textarea>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-sm-2 col-sm-10">
                                                    <button class="btn btn-danger" name="updateProfile" type="submit">
                                                        Update
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                        <form class="form-horizontal" enctype="multipart/form-data" method="post">
                                            <h1> Set User Picture </h1>
                                            <div class="form-group row">
                                                <div class="custom-file">
                                                    <input class="form-control custom-file-input" id="customFile"
                                                           name="avatar" placeholder="Upload avatar file"
                                                           type="file">
                                                    <label class="custom-file-label" for="customFile">Choose
                                                        file</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-sm-2 col-sm-10">
                                                    <button class="btn btn-danger" name="saveProfile" type="submit">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.nav-tabs-custom -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <div th:include="starter :: asideRight"></div>
</div>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<div th:include="starter :: footer"></div>

<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<div th:include="starter :: scripts"></div>
<script referrerpolicy="origin"
        src="https://cdn.tiny.cloud/1/lnen6exnxklkhdn3do3jx15plj5cxfmtuelx3xt4evmyysnl/tinymce/5/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#about',
        plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
        menubar: 'file edit view insert format tools table help',
        toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',

    });
</script>
</body>
</html>
