<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!--include example-->
<div th:include="registerAndSubscribeForm :: quickRegisterForm"
     th:with="user=${user_},
              courseId=${courseId_},
              streamAndTeamProfileId=${streamAndTeamProfileId_}">
</div>
<!--end of include example-->

<!--registration form: it is need an user object ot bind -->
<div th:fragment="quickRegisterForm">

    <form autocomplete="off"
          method="post"
          role="form"
          th:action="@{/registerAndSubscribe}">
        <input name="courseId" th:value="${courseId}" type="hidden">
        <div class="input-group mb-3">
            <input class="form-control"
                   id="firstAndLastName"
                   name="firstAndLastName"
                   onblur="validateName(this.value)"
                   onkeyup="validateName(this.value)"
                   placeholder="Ваше имя и фамилия"
                   th:value="${user.firstAndLastName}"
                   type="text"
                   required>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input class="form-control"
                   id="email"
                   name="email"
                   onblur="validateEmail(this.value)"
                   onkeyup="validateEmail(this.value)"
                   placeholder="Ваш Email"
                   th:value="${user.email}"
                   type="text"
                   required>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input class="form-control"
                   id="phone"
                   name="phone"
                   onblur="validatePhone(this.value)"
                   onkeyup="validatePhone(this.value)"
                   placeholder="Номер телефона"
                   th:value="${user.phone}"
                   type="text"
                   required>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            <select class="form-control" name="streamId">
                <option th:each="stream : ${streams}"
                        th:text="${stream.getDateStart().toString()}" th:value="${stream.getId()}"></option>
            </select>
        </div>

        <div class="row">
            <div class="col-8">
                &nbsp;
            </div>
            <!-- /.col -->
            <div class="col-4">
                <button class="btn btn-primary btn-block" id="button" type="submit"><b>Записаться</b></button>
            </div>
            <!-- /.col -->
        </div>
        <br/> <br/>
        <p class="text-danger" id="errors" th:text="${error}"></p>
    </form>
    <script>
        function validateEmail(userEmail) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    getResponse(this);
                }
            };
            xmlhttp.open("GET", "/api/registerForm/validate/email/?email=" + userEmail, true);
            xmlhttp.send();
        }

        function validateName(userName) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    getResponse(this);
                }
            };
            xmlhttp.open("GET", "/api/registerForm/validate/firstAndLastName/?firstAndLastName=" + userName, true);
            xmlhttp.send();
        }

        function validatePhone(userPhone) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    getResponse(this);
                }
            };
            xmlhttp.open("GET", "/api/registerForm/validate/phone/?phone=" + userPhone, true);
            xmlhttp.send();
        }

        function getResponse(xml) {
            var xmlDoc = xml.responseXML;
            var restResponse = xmlDoc.getElementsByTagName("restResponse");
            var validationPassed = restResponse[0].getElementsByTagName("validationPassed")[0].childNodes[0].nodeValue;
            console.log("validation passed? : " + validationPassed);
            if (validationPassed === "false") {
                var error = restResponse[0].getElementsByTagName("error");
                document.getElementById("errors").innerHTML = error[0].childNodes[0].nodeValue;
            } else {
                document.getElementById("errors").innerHTML = "";
            }
        }
    </script>
</div>
<!--end of registration form-->

</body>
</html>
