<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Default box -->
<div th:fragment="card">
    <!-- Stream Image -->
    <div class="card card-widget widget-user ">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header text-white" th:style="'background: url(\''+${streamImage}+'\') center center;height: 200px;'">
            <h3 class="widget-user-username text-right" th:text="${profile.getUser().getName()}">Elizabeth Pierce</h3>
            <h5 class="widget-user-desc text-right" th:text="${profile.getUser().getLastName()}">Web Designer</h5>

        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header" th:text="${statistic.getQAndAsLearnedT().size()}">3,200</h5>
                        <span class="description-text">Вопросов</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header" th:text="${statistic.getLecturesLearnedT().size()}">13,000</h5>
                        <span class="description-text">Лекций</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                    <div class="description-block">
                        <h5 class="description-header" th:text="${statistic.getTopicsLearnedT().size()}">35</h5>
                        <span class="description-text">Статей</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>

</div>
</body>
</html>
