<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Default box -->
<div th:fragment="card">
    <!-- Profile Image -->
    <div class="card card-primary card-outline">
        <div class="card-body box-profile">
            <div class="text-center">
                <img alt="User profile picture"
                     class="profile-user-img img-fluid img-circle"
                     th:src="${T(by.jrr.constant.LinkGenerator).getLinkToUserpic(profile)}">
            </div>

            <h3 class="profile-username text-center">
                <span th:text="${profile.getUser().getName()}"></span><br />
                <span th:text="${profile.getUser().getLastName()}"></span>
            </h3>

            <p class="text-muted text-center" th:text="${profile.getUser().getAllRoles()}">Software
                Engineer</p>

            <h2>Прогресс обучения</h2>
            <h3>Теория</h3>
            <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                    <b>Вопросов</b> <a class="float-right"
                                       th:text="${statistic.getQAndAsLearnedT().size()}">1,322</a>
                </li>
                <li class="list-group-item">
                    <b>Лекций</b> <a class="float-right"
                                     th:text="${statistic.getLecturesLearnedT().size()}">543</a>
                </li>
                <li class="list-group-item">
                    <b>Статей</b> <a class="float-right"
                                     th:text="${statistic.getTopicsLearnedT().size()}">13,287</a>
                </li>
            </ul>

            <h3>Практика</h3>
            <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                    <b>Решено задач</b> <a class="float-right"
                                           th:text="${statistic.getPracticesApprovedR().size()}">1,322</a>
                </li>
                <li class="list-group-item">
                    <b>Опубликовано постов</b> <a class="float-right"
                                                  th:text="${statistic.getSubjectsCRApprovedR().size()}">543</a>
                </li>
            </ul>

            <h3>Реальный опыт</h3>
            <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                    <b>Реализовано сторей</b> <a class="float-right"
                                                 th:text="${statistic.getIssuesCRApprovedStoriesR().size()}">1,322</a>
                </li>
                <li class="list-group-item">
                    <b>Пофикшено багов</b> <a class="float-right"
                                              th:text="${statistic.getIssuesCRApprovedBugsR().size()}">543</a>
                </li>
            </ul>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</div>
</body>
</html>
