<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Default box -->
<div th:fragment="history">
    <!-- conversation  -->
    <div th:each="item : ${history}">

        <div class="callout callout-info" th:if="${item.getType().equals(T(by.jrr.crm.common.HistoryType).NOTE)}">
            <h5 th:text="${item.getTimestamp()}">I am an info callout!</h5>
            <p th:text="${item.getText()}">Follow the steps to continue to paymCRMent.</p>
        </div>

        <div class="callout callout-danger" th:if="${item.getType().equals(T(by.jrr.crm.common.HistoryType).TASK)}">
            <h5 th:text="${item.getTimestamp()}"></h5>
            <p th:text="${item.getText()}"></p>
            <form class="form-horizontal" method="post"
                  th:action="${T(by.jrr.constant.Endpoint).CRM_NEW_HISTORY_ITEM}">
                <input class="form-control" name="taskId" th:value="${item.getId()}"
                       type="hidden">
                <input class="form-control" name="profileId" th:value="${profile.getId()}"
                       type="hidden">

                <div class="icheck-primary d-inline">
                    <input type="checkbox" id="checkboxPrimary" name="isFinished" th:checked="${item.getIsFinished()}" value="true">
                    <label for="checkboxPrimary">
                    </label>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button class="btn btn-danger" name="command" th:value="${T(by.jrr.crm.common.CrmCommand).FINISH_TASK}" type="submit">
                            Task is done (or update task?)
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>


    <form class="form-horizontal" method="post"
          th:action="${T(by.jrr.constant.Endpoint).CRM_NEW_HISTORY_ITEM}">
        <input class="form-control" name="profileId" th:value="${profile.getId()}"
               type="hidden">

        <div class="form-group">
            <textarea class="form-control" id="note" name="note" rows="3"> </textarea>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button class="btn btn-danger" name="command" th:value="${T(by.jrr.crm.common.CrmCommand).SAVE_NOTE}"
                        type="submit">
                    Save
                </button>
            </div>
        </div>
    </form>

    <hr>

    <form class="form-horizontal" method="post"
          th:action="${T(by.jrr.constant.Endpoint).CRM_NEW_HISTORY_ITEM}">
        <input class="form-control" name="profileId" th:value="${profile.getId()}"
               type="hidden">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="taskDL">DeadLine</label>
            <div class="col-sm-10">
                <input class="form-control" id="taskDL"
                       name="taskDL" placeholder="task deadLine"
                       type="datetime-local"/>
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control" id="task" name="task" rows="3"> </textarea>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button class="btn btn-danger" name="command" th:value="${T(by.jrr.crm.common.CrmCommand).SAVE_TASK}"
                        type="submit">
                    Save
                </button>
            </div>
        </div>
    </form>

</div>
</body>
</html>
