<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="starter :: head"></head>
<body class="layout-navbar-fixed sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <div th:include="navbar :: navbar"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:include="starter :: asideLeft"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div th:include="starter :: page_header"></div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="card card-solid">
                <div class="card-body">

                    <form method="post">
                        <input type="hidden" name="reviewRequestId" th:value="${reviewRequest.getId()}" />
                        <button type="submit" name="addReview" value="addReview">addReview</button>
                    </form>

                    <div class="card" th:fragment="issueCard">
                        <div class="card-body">
                            <a th:href="${reviewedLink}">
                                <h1 class="card-title" th:text="${item.getReviewedEntity().getName()}"></h1>
                            </a>
                            <h3>&nbsp;</h3>
                            <hr />
                            <div>&nbsp;</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>1. Message</h3>
                                    <p th:utext="${reviewRequest.requesterNotes}"></p>
                                    <h3>2. Code review Request Link</h3>
                                    <p><a th:href="${reviewRequest.link}" th:text="${reviewRequest.link}" /></p>
                                </div>
                                <div class="col-md-6">
                                    <p>Requested by </p>

                                    <h3><a th:href="${requesterProfileLink}" th:text="${requesterProfile.getUser().getFullUserName()}" /></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <div th:include="starter :: asideRight"></div>
</div>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<div th:include="starter :: footer"></div>

<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<div th:include="starter :: scripts"></div>
</body>
</html>
