<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="starter :: head"></head>
<body class="layout-navbar-fixed sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <div th:include="navbar :: navbar"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:include="starter :: asideLeft"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div th:include="starter :: page_header"></div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="card card-solid">
                <div class="card-body">

                    <div class="row">
                        <a th:href="${reviewedLink}">
                            <h1 class="card-title" th:text="${item.getReviewedEntity().getName()}"></h1>
                        </a>
                        <h3>&nbsp;</h3>
                    </div>
                    <hr />
                        <h2> Code review request создан. Добавьте ссылку на source code и комментарий.</h2>
                        <form role="form" th:object="${reviewRequest}" method="post" th:fragment="issueForm">
                            <input type="hidden" class="form-control" th:field="*{id}">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Message</label>
                                            <textarea class="form-control" rows="3" th:field="*{requesterNotes}" required> </textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Code review request link</label>
                                            <input type="text"
                                                   class="form-control"
                                                   th:field="*{link}"
                                                   placeholder="Put link to gitHub here"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Save Request</button>
                            </div>
                        </form>

                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <div th:include="starter :: asideRight"></div>
</div>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<div th:include="starter :: footer"></div>

<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<div th:include="starter :: scripts"></div>
</body>
</html>
