<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="starter :: head"></head>
<body class="layout-navbar-fixed sidebar-collapse">
<div class="wrapper">

    <!-- Navbar -->
    <div th:include="navbar :: navbar"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:include="starter :: asideLeft"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div th:include="starter :: page_header"></div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" th:if="${edit}">
                        <a th:href="'/stream/register/'+${topic.getId()}">new Stream</a>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <p>&nbsp;</p>

                                <form method="post">
                                    <input name="title" placeholder="title" th:value="${topic.getTitle()}" type="text"/>
                                    <input name="subtitle" placeholder="subtitle" th:value="${topic.getSubtitle()}"
                                           type="text"/>
                                    <textarea id="mytextarea" name="text"
                                              th:text="${topic.getText()}">Hello, World!</textarea>

                                    <table>
                                        <tr th:each="lecture : ${lectures}">
                                            <td><input type="checkbox" name="lecturesId" th:value="${lecture.getId()}" th:checked="${courseLectures.contains(lecture.getId())} ? 'checked'"></td>
                                            <td th:text="${lecture.getName()}"></td>
                                            <td th:text="${lecture.getTitle()}"></td>
                                            <td th:text="${lecture.getSubtitle()}"></td>
                                            <td> <a th:href="${T(by.jrr.constant.LinkGenerator).getLinkTo(lecture)}">open</a></td>
                                        </tr>
                                    </table>

                                    <button type="submit">save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" th:unless="${edit}">
                        <form method="post">
                            <button name="edit" type="submit" value="true">edit</button>
                        </form>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h1 class="display-3" th:text="${topic.getTitle()}"></h1>
                                        <h2 class="display-4" th:text="${topic.getSubtitle()}"></h2>
                                    </div>
                                    <div class="col-md-6">
                                        <div th:include="profile/registerAndSubscribeForm :: quickRegisterForm"
                                             th:unless="${IS_AUTHENTICATED}"
                                             th:with="user=${user},
                                              courseId=${topic.getId()}">
                                        </div>

                                        <form method="post"
                                              th:if="${IS_AUTHENTICATED}">
                                            <button class="btn btn-primary btn-block"
                                                    name="subscribe"
                                                    type="submit"
                                                    value="subscribe"><b>Записаться</b></button>
                                        </form>
                                    </div>
                                    <hr/>
                                    <div th:utext="${topic.getText()}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<div th:include="starter :: asideRight"></div>
</div>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<div th:include="starter :: footer"></div>

<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<div th:include="starter :: scripts"></div>
<script referrerpolicy="origin" src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#mytextarea',
        min_height: 600,
        plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
        menubar: 'file edit view insert format tools table help',
        toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',

    });
</script>
</body>
</html>
