<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" role="form" th:fragment="issueForm" th:object="${issue}">
    <div class="card-body">
        <input class="form-control" th:field="*{Id}" type="hidden">
        <div class="form-group">
            <label>Theme</label>
            <input class="form-control" placeholder="Enter name" th:field="*{theme}" type="text">
            <div class="form-group">
                <label>name</label>
                <input class="form-control" placeholder="Enter name" th:field="*{name}" type="text">
            </div>
            <div class="form-group">
                <label>summary</label>
                <input class="form-control" placeholder="Enter summary" th:field="*{summary}" type="text">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>description</label>
                        <textarea class="form-control" rows="3" th:field="*{description}"> </textarea>
                    </div>
                    <div class="form-group">
                        <label>reproSteps</label>
                        <textarea class="form-control" rows="3" th:field="*{reproSteps}"> </textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        &nbsp;
                    </div>
                    <div class="form-group">
                        &nbsp;
                    </div>
                    <div class="form-group">
                        &nbsp;
                    </div>
                    <div class="form-group">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
</form>
</body>
</html>
