<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="starter :: head"></head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <div th:include="navbar :: navbar"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:include="starter :: asideLeft"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div th:include="starter :: page_header"></div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" th:if="${edit}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">TinyMCE Quick Start Guide</h5>
                                <p>asd</p>
                                <form method="post">
                                    <input type="text" name="title" placeholder="title" th:value="${topic.getTitle()}"/>
                                    <input type="text" name="subtitle" placeholder="subtitle" th:value="${topic.getSubtitle()}"/>
                                    <textarea id="mytextarea" name="text" th:text="${topic.getText()}" >Hello, World!</textarea>
                                    <button type="submit" name="save" value="true">save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" th:unless="${edit}">
                        <form method="post">
                            <button type="submit" name="edit" value="true">edit</button>
                            <button type="submit" name="setLearned" value="true">learned</button>
                            <p th:text="${trackStatus}"></p>
                        </form>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h1 class="card-title" th:text="${topic.getTitle()}"></h1>
                                </div>
                                <div class="row">
                                    <h2 class="card-title" th:text="${topic.getSubtitle()}"></h2>
                                </div>
                                <hr />
                                <div th:utext="${topic.getText()}"></div>
                            </div>
                        </div>
                    </div>
                </div>



                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <div th:include="starter :: asideRight"></div>
</div>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<div th:include="starter :: footer"></div>

<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<div th:include="starter :: scripts"></div>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#mytextarea',
        min_height: 600,
        plugins: 'autoresize'
    });
</script>
</body>
</html>
