<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="streamAbout">
    <script th:src="@{/my/js/tracking/redirectionLink.js}"></script>


    <div class="tab-pane" id="activity" th:classappend="${active}">
        <div class="row" th:if="${profile.getUserChatButtons().size() > 0}">

            <h3>User buttons to chats</h3>
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>eventName</th>
                    <th>eventType</th>
                    <th>urlToRedirect</th>
                    <th>student Profile Id</th>
                    <th>stream Team Profile Id</th>
                    <th>course Id</th>
                </tr>
                <th:block th:each="chatButton : ${profile.getUserChatButtons()}">
                    <tr>
                        <td>
                            <button th:onclick="createRedirectionLink(
                                        [[${chatButton.studentProfileId}]],
                                        null,
                                        [[${chatButton.streamTeamProfileId}]],
                                        [[${chatButton.courseId}]],
                                        null,
                                        [[${chatButton.urlToRedirect}]],
                                        [[${chatButton.eventName}]],
                                        [[${chatButton.eventType}]],
                                        60);">
                                generate user link
                            </button>
                        </td>
                        <td th:id="|${chatButton.eventName}eventName|" th:text="${chatButton.eventName}"/>
                        <td th:id="|${chatButton.eventName}eventType|" th:text="${chatButton.eventType}"/>
                        <td th:id="|${chatButton.eventName}urlToRedirect|" th:text="${chatButton.urlToRedirect}"/>
                        <td th:id="|${chatButton.eventName}studentProfileId|" th:text="${chatButton.studentProfileId}"/>
                        <td th:id="|${chatButton.eventName}streamTeamProfileId|" th:text="${chatButton.streamTeamProfileId}"/>
                        <td th:id="|${chatButton.eventName}courseId|" th:text="${chatButton.courseId}"/>
                    </tr>
                </th:block>
            </table>
        </div>



            <!-- Post -->
            <div class="post clearfix" th:if="${profile.getSubscriptions().size()>0}">
                <h2> Подписки </h2>
                <div class="row">
                    <th:block th:each="subscription : ${profile.getSubscriptions()}">
                        <div class="col-md-6">
                            <div class="card card-widget widget-user shadow-lg">

                                <div class="widget-user-header text-white bg-info">
                                    <h3 class="widget-user-username text-right"
                                        th:text="${subscription.getSubscriptionName()}"></h3>
                                    <h5 class="widget-user-desc text-right"
                                        th:text="${subscription.getSubscriptionLastName()}"></h5>
                                    <h5 class="widget-user-desc text-right"
                                        th:text="${subscription.getStatus()}"></h5>
                                </div>

                                <!--                                                            <div class="card-body">-->
                                <!--                                                                <h3></h3>-->
                                <!--                                                            </div>-->

                                <div class="card-footer p-1">
                                        <a th:href="${'/crm/profile/'+subscription.getStreamTeamProfileId()}">
                                            <button class="btn btn-primary">
                                                to Group
                                            </button>
                                        </a>

                                    <th:block th:include="profile/elements/manageSubscriptionButton :: button"
                                              th:with="streamTeamProfileId=${subscription.getStreamTeamProfileId()},
                                                                     userProfileId=${subscription.getSubscriberProfileId()},
                                                                     endpointUrl=${T(by.jrr.constant.Endpoint).SUBSCRIPTIONS_APPROVE},
                                                                     newStatus=${T(by.jrr.profile.bean.SubscriptionStatus).APPROVED.name()},
                                                                     SubscriptionDto=${SubscriptionDto},
                                                                     buttonText=${'Approve'}">
                                    </th:block>

                                    <th:block th:include="profile/elements/manageSubscriptionButton :: button"
                                              th:with="streamTeamProfileId=${subscription.getStreamTeamProfileId()},
                                                                     userProfileId=${subscription.getSubscriberProfileId()},
                                                                     endpointUrl=${T(by.jrr.constant.Endpoint).SUBSCRIPTIONS_REJECT},
                                                                     newStatus=${T(by.jrr.profile.bean.SubscriptionStatus).REJECTED.name()},
                                                                     SubscriptionDto=${SubscriptionDto},
                                                                     buttonText=${'Reject'}">
                                    </th:block>
                                </div>
                            </div>

                        </div>
                    </th:block>
                </div>
            </div>

        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                User Links (refresh browser to update)
            </a>

        </p>

        <div class="collapse" id="collapseExample">
            <table class="table table-striped">
                <tr>
                    <th>status</th>
                    <th>redirectionPage</th>
                    <th>urlToRedirect</th>
                    <th>event Name</th>
                    <th>event Type</th>
                    <th>expiration Minutes</th>
                    <th>timestamp</th>
                </tr>
                <th:block th:each="redirectionLink : ${redirectionLinks}">
                    <tr>

                        <td th:text="${redirectionLink.status}" />
                        <td th:text="${redirectionLink.redirectionPage}" />
                        <td th:text="${redirectionLink.urlToRedirect}" />
                        <td th:text="${redirectionLink.eventName}" />
                        <td th:text="${redirectionLink.eventType}" />
                        <td th:text="${redirectionLink.expirationMinutes}" />
                        <td th:text="${redirectionLink.timestamp}" />

                    </tr>
                </th:block>
            </table>
        </div>
        <!-- /.row -->

        <div class="post">
            <div th:utext="${profile.getAbout()}"/>
        </div>

        <div th:if="${profile.getSubscribersRequested().size()>0}">
            <div th:include="crm/profile/tab/streamSubscribers :: subscribers"
                 th:with="subscribers = ${profile.getSubscribersRequested()}"></div>
        </div>

        <div th:if="${profile.getSubscribersApproved().size()>0}">
            <div th:include="crm/profile/tab/streamSubscribers :: subscribers"
                 th:with="subscribers = ${profile.getSubscribersApproved()}"></div>
        </div>



    </div>

</th:block>
</body>
</html>
