<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Default box -->
<th:block th:fragment="item">
    <th:block th:if="${timeline.getEventType().equals(T(by.jrr.registration.bean.EventType).LECTURE)}">
        <div class="timeline-item">
            <h3 style="padding: 10px;"><i class="far fa-clock"></i>
                <th:block th:if="${STUDENT}">
                    <th:block
                            th:text="|${timeline.getTime()}|">
                    </th:block>
                </th:block>
                <th:block th:unless="${STUDENT}">
                    <th:block
                            th:text="|${timeline.getTime()} in time ${timeline.totalUniqVisitorsForTimelineEventAroundTimestamp}|">
                    </th:block>
                </th:block>
                <th:block th:if="${STUDENT}">
                    <th:block th:if="${isUserCanGenerateRedirectionLink}">
                        <span class="pull-right-container">

                            <small class="label pull-right bg-green"
                                   th:onclick="createRedirectionLink(
                                                    [[${profile.getId()}]],
                                                    [[${timeline.getTimelineUUID()}]],
                                                    [[${timeline.streamTeamProfileId}]],
                                                    [[${timeline.courseId}]],
                                                    [[${timeline.lectureId}]],
                                                    [[${timeline.urlToRedirect}]],
                                                    [[${timeline.eventName}]],
                                                    [[${timeline.eventType}]],
                                                    60);">
                                generate user individual link
                            </small>
                        </span>
                    </th:block>
                </th:block>
            </h3>
            <h3 class="timeline-header">
                <a th:href="|/crm/timeline/${timeline.getTimelineUUID()}|" th:text="${timeline.getEventType()}"/>
                <span th:text="${timeline.getEventName()}"/>
            </h3>

            <div class="timeline-body" th:text="${timeline.getNotes()}">

            </div>
            <div class="timeline-footer">
                <form></form>
                <form action="/l/" method="post">
                    <input name="timelineUUID"
                           th:value="${timeline.getTimelineUUID()}"
                           type="hidden"/>
                    <input name="link"
                           th:value="${timeline.getUrlToRedirect().trim()}"
                           type="hidden"/>
                    <input name="linkName"
                           th:value="${timeline.getEventName()}"
                           type="hidden"/>
                    <input name="streamTeamId"
                           th:value="${timeline.getStreamTeamProfileId()}"
                           type="hidden"/>
                    <input name="courseId"
                           th:value="${timeline.getCourseId()}"
                           type="hidden"/>
                    <input name="lectureId"
                           th:value="${timeline.getLectureId()}"
                           type="hidden"/>
                    <button class="btn btn-block col-md-3"
                            name="eventType"
                            th:value="${timeline.getEventType()}"
                            type="submit">
                        <div class="info-box">
                            <span class="info-box-icon bg-gradient-blue">
                                <i class="fa fa-video"></i>
                            </span>
                            <div class="info-box-content text-left">
                                <span class="info-box-text">Zoom</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </button>
                </form>
            </div>
        </div>
    </th:block>


    <th:block th:if="${timeline.getEventType().equals(T(by.jrr.registration.bean.EventType).TEAM_STAND_UP)}">
        <div class="timeline-item">
            <h3 style="padding: 10px;"><i class="far fa-clock"></i>
                <th:block
                        th:text="${timeline.getTime()}">12:05
                </th:block>
            </h3>


            <h3 class="timeline-header">
                <a href="#" th:text="${timeline.getEventType()}">
                    Support Team
                </a>
                <span th:text="${timeline.getEventName()}"></span>
            </h3>

            <div class="timeline-body" th:text="${timeline.getNotes()}">

            </div>
            <div class="timeline-footer">
                <form></form>
                <form action="/l/" method="post">
                    <input name="timelineUUID"
                           th:value="${timeline.getTimelineUUID()}"
                           type="hidden"/>
                    <input name="link"
                           th:value="${timeline.getUrlToRedirect().trim()}"
                           type="hidden"/>
                    <input name="linkName"
                           th:value="${timeline.getEventName()}"
                           type="hidden"/>
                    <input name="streamTeamId"
                           th:value="${timeline.getStreamTeamProfileId()}"
                           type="hidden"/>
                    <input name="courseId"
                           th:value="${timeline.getCourseId()}"
                           type="hidden"/>
                    <input name="lectureId"
                           th:value="${timeline.getLectureId()}"
                           type="hidden"/>
                    <button class="btn btn-block col-md-3"
                            name="eventType"
                            th:value="${timeline.getEventType()}"
                            type="submit">
                        <div class="info-box">
                                                                                <span class="info-box-icon bg-gradient-blue">
                                                                                    <i class="fa fa-video"></i>
                                                                                </span>
                            <div class="info-box-content text-left">
                                <span class="info-box-text">Zoom</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </button>
                </form>
            </div>
        </div>
    </th:block>

    <th:block th:if="${timeline.getEventType().equals(T(by.jrr.registration.bean.EventType).YOUTUBE)}">
        <div class="timeline-item">
            <h3 style="padding: 10px;"><i class="far fa-clock"></i>
                <th:block
                        th:text="${timeline.getTime()}">12:05
                </th:block>
            </h3>


            <h3 class="timeline-header">
                <a href="#" th:text="${timeline.getEventType()}">
                    Support Team
                </a>
                <span th:text="${timeline.getEventName()}"></span>
            </h3>

            <div class="timeline-body" th:text="${timeline.getNotes()}">

            </div>
            <div class="timeline-footer">
                <div class="row">
                    <div class="col-md-8">
                        <iframe allowfullscreen="allowfullscreen"
                                frameborder="0"
                                height="315"
                                style="position: center; width: -webkit-fill-available;"
                                th:src="${timeline.getUrlToRedirect().trim()}"
                                width="560">
                        </iframe>
                    </div>
                    <div class="col-md-4">&nbsp;</div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:if="${timeline.getEventType().equals(T(by.jrr.registration.bean.EventType).VIDEO)}">
        <div class="timeline-item">
            <h3 style="padding: 10px;"><i class="far fa-clock"></i>
                <th:block
                        th:text="${timeline.getTime()}">12:05
                </th:block>
            </h3>


            <h3 class="timeline-header">
                <a href="#" th:text="${timeline.getEventType()}">
                    Support Team
                </a>
                <span th:text="${timeline.getEventName()}"></span>
            </h3>

            <div class="timeline-body" th:text="${timeline.getNotes()}">

            </div>
            <div class="timeline-footer">
                <div class="row">
                    <div class="col-md-8">
                        <video controls height="315" width="560">
                            <source th:src="|/video${timeline.getUrlToRedirect().trim()}|" type="video/mp4">
                        </video>
                    </div>
                    <div class="col-md-4">&nbsp;</div>
                </div>
            </div>
        </div>
    </th:block>

</th:block>
</body>
</html>
