<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="billing">

    <div class="tab-pane" id="billing">
        <div class="row">
            <br/>
            <br/>
            <h3> Общая сумма задолженности </h3>
            <p> в белорусских рубляx в пересчете по курсу НБ РБ на текущую дату </p>
            <h3 th:if="${isUserGetSalary}"> и сумма зарплаты </h3>
            <p> за все время в белорусских рубля в пересчете по курсу НБ РБ на день оплаты</p>
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td th:text="${userTotal.summaryInCurrentCurrency.invoiceDebt}"></td>
                    <td colspan="4"> задолженность по выставленным счетам</td>
                </tr>
                <tr>
                    <td th:text="${userTotal.summaryInCurrentCurrency.contractDebt}"></td>
                    <td colspan="4"> сумма неполаченных платежей по договору</td>
                </tr>
                <tr>
                    <td th:text="${userTotal.summaryInCurrentCurrency.salary}"></td>
                    <td colspan="4"> сумма выплаченной заработной платы</td>
                </tr>
                </tbody>
            </table>

            <hr />
            <br/>
            <br/>

            <h3> Список платежей</h3>
            <p>сумм заключенных договоров и выставленных счетов в валюте контракта</p>
            <h3 th:if="${isUserGetSalary}"> и заработной платы</h3>
            <p> указанной в валюте начисления</p>
            <table class="table table-sm table-bordered table-striped">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th th:text="${T(by.jrr.balance.constant.OperationRowDirection).INCOME.getUserFriendlyName()}" />
                    <th th:text="${T(by.jrr.balance.constant.OperationRowDirection).CONTRACT.getUserFriendlyName()}" />
                    <th th:text="${T(by.jrr.balance.constant.OperationRowDirection).INVOICE.getUserFriendlyName()}" />
                    <th th:text="${T(by.jrr.balance.constant.OperationRowDirection).OUTCOME.getUserFriendlyName()}" th:if="${isUserGetSalary}"/>
                    <th colspan="2">Примечание</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="operation : ${userOperationRows}" th:unless="${operation.operationRowDirection.isPlan()}">
                    <td nowrap th:text="${operation.date}"></td>
                    <td>
                        <th:block
                                th:if="${T(by.jrr.balance.constant.OperationRowDirection).INCOME == operation.operationRowDirection}"
                                th:text="|${operation.sum}${operation.currency}|"/>
                    </td>
                    <td>
                        <th:block
                                th:if="${T(by.jrr.balance.constant.OperationRowDirection).CONTRACT == operation.operationRowDirection}"
                                th:text="|${operation.sum}${operation.currency}|"/>
                    </td>
                    <td>
                        <th:block
                                th:if="${T(by.jrr.balance.constant.OperationRowDirection).INVOICE == operation.operationRowDirection}"
                                th:text="|${operation.sum}${operation.currency}|"/>
                    </td>

                    <td th:if="${isUserGetSalary}">
                        <th:block
                                th:if="${T(by.jrr.balance.constant.OperationRowDirection).OUTCOME == operation.operationRowDirection}"
                                th:text="|${operation.sum}${operation.currency}|"/>
                    </td>

                    <td colspan="2" nowrap>
                        <a th:unless="${operation.subscriber.id == null}"
                           th:href="${'/crm/profile/'+operation.subscriber.getId()}"
                           th:text="${operation.subscriber.getFullName()}"></a>
                        <span class="small" th:text="|${operation.operationCategory.name} ${operation.note}|"></span>

                    </td>

                </tr>
                </tbody>

            </table>

            <h3 th:if="${isUserGetSalary}"> Суммы будущих начислений</h3>
            <table class="table table-sm table-bordered table-striped"
                   th:if="${isUserGetSalary}">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th th:text="${T(by.jrr.balance.constant.OperationRowDirection).PLAN_INCOME.getUserFriendlyName()}"/>
                        <th th:text="${T(by.jrr.balance.constant.OperationRowDirection).PLAN_OUTCOME.getUserFriendlyName()}"/>
                        <th>Примечание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="operation : ${userOperationRows}" th:if="${operation.operationRowDirection.isPlan()}">
                        <td nowrap th:text="${operation.date}"></td>
                        <td>
                            <th:block
                                    th:if="${T(by.jrr.balance.constant.OperationRowDirection).PLAN_INCOME == operation.operationRowDirection}"
                                    th:text="|${operation.sum}${operation.currency}|"/>
                        </td>
                        <td>
                            <th:block
                                    th:if="${T(by.jrr.balance.constant.OperationRowDirection).PLAN_OUTCOME == operation.operationRowDirection}"
                                    th:text="|${operation.sum}${operation.currency}|"/>
                        </td>
                        <td nowrap>
                            <a th:unless="${operation.subscriber.id == null}"
                               th:href="${'/crm/profile/'+operation.subscriber.getId()}"
                               th:text="${operation.subscriber.getFullName()}"></a>
                            <span class="small" th:text="|${operation.operationCategory.name} ${operation.note}|"></span>
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>
</th:block>
</body>
</html>
