<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="starter :: head"></head>
<body class="layout-navbar-fixed sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <div th:include="navbar :: navbar"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:include="starter :: asideLeft"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div th:include="starter :: page_header"></div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="error-page">
                <h2 class="headline text-success">304</h2>

                <div class="error-content">
                    <h3><i class="fas fa-external-link-alt text-success"></i> Redirection </h3>
                    <h2 th:text="${link.eventType}" />
                    <h3 th:text="${link.eventName}" />
                    <p th:text="${link.status.message}" />

                    <p>
                        <a th:href="${link.urlToRedirect}"
                           th:text="${link.urlToRedirect}" />
                    </p>
                </div>
            </div>
            <!-- /.error-page -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <div th:include="starter :: asideRight"></div>
</div>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<div th:include="starter :: footer"></div>

<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<div th:include="starter :: scripts"></div>
</body>
</html>
