<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="starter :: head"></head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <div th:include="navbar :: navbar"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:include="starter :: asideLeft"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div th:include="starter :: page_header"></div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="card card-solid">
                <div class="card-body">
                    <div class="row">

                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <div th:include="starter :: asideRight"></div>
</div>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<div th:include="starter :: footer"></div>

<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<div th:include="starter :: scripts"></div>
</body>
</html>
