<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="operationRowForm">
    <div class="modal fade" th:id="|modal-default${row.getId()}${direction}">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <form method="post" th:action="${Action.ADD_OPERATION_ROW}">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Default Modal</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">

                            <input name="direction" th:value="${direction}" type="hidden"/>
                            <input th:name="${FieldName.ID_OPERATION}" th:value="${row.getId()}"
                                   type="hidden"/>
                            <input th:if="${profile}" th:name="${FieldName.PROFILE_ID}"
                                   th:value="${profile.getId()}"
                                   type="hidden"/>
                            <tr>
                                <th><label>data \ дата</label></th>
                                <td><input required th:name="${FieldName.OPERATION_DATE}"
                                           th:value="${row.date}" type="date"/></td>
                            </tr>
                            <tr>
                                <th><label>sum \ сумма</label></th>
                                <td><input step=".01" th:name="${FieldName.OPERATION_SUM}"
                                           th:value="${row.sum}"
                                           type="number"/></td>
                            </tr>
                            <tr>
                                <th><label>currency</label></th>
                                <td>
                                    <select th:name="${FieldName.ID_CURRENCY}">
                                        <option></option>
                                        <option th:each="cur : ${T(by.jrr.balance.bean.Currency).values()}"
                                                th:selected="${cur} == ${row.getCurrency()}"
                                                th:text="${cur}"
                                                th:value="${cur}"></option>
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><label>income \ статья</label></th>
                                <td>
                                    <select th:name="${FieldName.ID_OPERATION_CATEGORY}">
                                        <option></option>
                                        <div th:each="category : ${operationCategories}">
                                            <option th:selected="${category.id} == ${row.getIdOperationCategory()}"
                                                    th:text="${category.name}"
                                                    th:value="${category.id}"></option>
                                        </div>
                                    </select>
                                </td>
                            </tr>
                            <tr th:if="${profile}">
                                <th><label>Участник курса</label></th>
                                <td>
                                    <select th:name="${FieldName.Subscriber}">
                                        <option></option>
                                        <div th:each="subscriber : ${profile.getSubscribers()}">
                                            <option th:selected="${subscriber.getSubscriberProfileId()} ==
                                                            ${row.subscriber.id}"
                                                    th:text="${subscriber.getFullSubscriberName()}"
                                                    th:value="${subscriber.getSubscriberProfileId()}"></option>
                                        </div>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th><label>Договор</label></th>
                                <td>
                                    <select th:name="${FieldName.ID_CONTRACT}">
                                        <option></option>
                                        <div th:each="contract : ${contracts}">
                                            <option th:selected="${contract.id} == ${row.contract.id}"
                                                    th:text="${contract.getName()}"
                                                    th:value="${contract.getId()}"></option>

                                        </div>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><label>note \ пояснения</label></th>
                                <td><input th:name="${FieldName.OPERATION_NOTE}" th:value="${row.note}"
                                           type="text"/></td>
                            </tr>
                            <tr>
                                <!-- todo add radiobutton to repeat N times & up To Date -->
                                <th><label>repeat N times (disabled if up to date is set)</label></th>
                                <td><input th:name="${FieldName.REPEAT_N_TIMES}" type="number"
                                           value="1"/></td>
                            </tr>
                            <tr>
                                <th><label>repeat up to date</label></th>
                                <td>
                                    <input th:name="${FieldName.END_OF_REPEATING_DATE}" type="date"/>
                                </td>
                            </tr>
                            <tr>
                                <th><label>repeat</label></th>
                                <td>
                                    <input id="REPEAT_NONE" th:name="${FieldName.REPEAT_RADIO}"
                                           th:value="${FieldName.REPEAT_NONE}"
                                           type="radio"/>
                                    <label for="REPEAT_NONE">No repeat</label>

                                    <input id="REPEAT_DAILY" th:name="${FieldName.REPEAT_RADIO}"
                                           th:value="${FieldName.REPEAT_DAILY}"
                                           type="radio"/>
                                    <label for="REPEAT_DAILY">Daily</label>

                                    <input id="REPEAT_MONTHLY" th:name="${FieldName.REPEAT_RADIO}"
                                           th:value="${FieldName.REPEAT_MONTHLY}"
                                           type="radio"/>
                                    <label for="REPEAT_MONTHLY">Monthly</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default pull-left" data-dismiss="modal" type="button">
                            Close
                        </button>
                        <button class="btn btn-success" name="submit" type="submit" value="move">Move to
                            Fact
                        </button>
                        <button class="btn btn-primary" name="submit" type="submit" value="save">Save
                            changes
                        </button>
                        <button class="btn btn-primary" name="submit" type="submit" value="delete">
                            delete
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</th:block>

</body>
</html>
