<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="starter :: head"></head>
<body class="layout-navbar-fixed sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <div th:include="navbar :: navbar"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:include="starter :: asideLeft"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div th:include="starter :: page_header"></div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="card card-solid">
                <div class="card-body">
                    <div class="row">

                    </div>
                    <!-- /.row -->
                </div>
            </div>

            <div class="card card-solid">
                <div class="card-header">
                    <h2>Текущие группы</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <table class="table-striped">
                            <thead>
                            <tr>
                                <th>Курс</th>
                                <th>Стрим</th>
                                <th>Реквестов</th>
                                <th>Апрувов</th>
                                <th>Старт</th>
                                <th>Финиш</th>
                            </tr>
                            </thead>
                            <tr th:each="profile : ${streams}">
                                <td th:text="${profile.getCourse().getTitle()}"></td>
                                <td>
                                    <a th:href="${'/crm/profile/'+profile.getId()}"
                                       th:text="${profile.getUser().getFullUserName()}">
                                    </a>
                                </td>
                                <td th:text="${profile.getSubscribersRequested().size()}"></td>
                                <td th:text="${profile.getSubscribersApproved().size()}"></td>
                                <td th:text="${profile.getDateStart()}"></td>
                                <td th:text="${profile.getDateEnd()}"></td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.row -->
                </div>
            </div>

            <div class="card card-solid">
                <div class="card-header">
                    <h2>Cash Flow</h2>
                </div>
                <div class="card-body">
<!--                    <div class="row">-->
                        <div class="box">
                            <div class="box-body">
                                <div class="col-md-3">
                                    <div th:include="crm/balanceElements/operationRow :: operationRowForm"
                                         th:with="categoryList=${incomeCategoryList},
                                   direction=${T(by.jrr.balance.constant.OperationRowDirection).INCOME},
                                   row=${blankRow},
                                   buttonText=${'Доход - общие'}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div th:include="crm/balanceElements/operationRow :: operationRowForm"
                                         th:with="categoryList=${incomeCategoryList},
                                   direction=${T(by.jrr.balance.constant.OperationRowDirection).OUTCOME},
                                   row=${blankRow},
                                   buttonText=${'Расход - общие'}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p th:text="${total}"></p>
                            </div>
                        </div>
<!--                    </div>-->
                    <!-- /.row -->
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <div th:include="starter :: asideRight"></div>
</div>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<div th:include="starter :: footer"></div>

<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<div th:include="starter :: scripts"></div>
</body>
</html>
