<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="starter :: head"></head>
<body class="layout-navbar-fixed sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <div th:include="navbar :: navbar"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:include="starter :: asideLeft"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div th:include="starter :: page_header"></div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="card card-solid">
                <div class="card-body">
                    <div class="row">

                        <form class="form-horizontal" method="post" enctype="multipart/form-data">
                            <h1> Upload file </h1>
                            <div class="form-group row">
                                <div class="custom-file">
                                    <input type="file" name="multipartFile" class="form-control custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                    <input type="text" name="description" class="form-control">
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                    <button name="save" type="submit" class="btn btn-danger">Submit</button>
                                </div>
                            </div>
                        </form>

                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Files</h3>

                                    <div class="card-tools">
                                        <form>
                                            <div class="input-group input-group-sm" style="width: 150px;">

                                                <input class="form-control float-right" name="searchTerm"
                                                       placeholder="Search"
                                                       type="text">

                                                <div class="input-group-append">
                                                    <button class="btn btn-default" type="submit"><i
                                                            class="fas fa-search"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>NameWithExtension</th>
                                            <th>Description</th>
                                            <th>Extension</th>
                                            <th>ContentType</th>
                                            <th>Size</th>
                                            <th>Link</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="file : ${files}">
                                                <td th:text="${file.getName()}"></td>
                                                <td th:text="${file.getNameWithExtension()}"></td>
                                                <td th:text="${file.getDescription()}"></td>
                                                <td th:text="${file.getExtension()}"></td>
                                                <td th:text="${file.getContentType()}"></td>
                                                <td th:text="${file.getSize()}"></td>
                                                <td th:text="${T(by.jrr.constant.LinkGenerator).getLinkTo(file)}">

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>

                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <div th:include="starter :: asideRight"></div>
</div>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<div th:include="starter :: footer"></div>

<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<div th:include="starter :: scripts"></div>
</body>
</html>
