<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="starter :: head"></head>
<body class="layout-navbar-fixed sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <div th:include="navbar :: navbar"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:include="starter :: asideLeft"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div th:include="starter :: page_header"></div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" th:if="${edit}">
                        <div class="card">
                            <div class="card-body">
                                <form method="post">
                                    <input name="name" placeholder="name" th:value="${domain.getName()}" type="text"/>
                                    <input name="description" placeholder="description" th:value="${domain.getDescription()}"
                                           type="text"/>
                                    <button type="submit">save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" th:unless="${edit}">
                        <form method="post">
                            <button name="edit" type="submit" value="true">edit</button>
                        </form>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h1 class="card-title" th:text="${domain.getName()}"></h1>
                                </div>
                                <hr/>
                                <div th:utext="${domain.getDescription()}"></div>
                            </div>
                            <a th:href="${T(by.jrr.constant.LinkGenerator).getLinkTo(domain)+'/subject'}">
                                create subject
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row d-flex align-items-stretch">
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch" th:each="subject : ${subjectList}">
                        <div class="card bg-light">
                            <a th:href="${T(by.jrr.constant.LinkGenerator).getLinkTo(subject)}">
                                <div class="card-header text-muted border-bottom-0"
                                     th:text="${subject.getDomain().getName()}">
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h1 class="lead" th:text="${subject.getName()}"></h1>
                                            <h2 class="lead" th:text="${subject.getSummary()}"> </h2>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span>
                                                    Submitter: <span th:text="${subject.getSubmitter().getFullUserName()}"></span> </li>
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
                                                    Assigned: <span th:text="${subject.getAssignee().getFullUserName()}"></span></li>
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img alt="" class="img-circle img-fluid" src="https://www.iconninja.com/files/854/364/1/develop-programming-software-java-language-code-command-icon.png">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="card-footer">
                                <div class="text-right">
                                    <a href="#" class="btn btn-sm btn-primary">
                                        <i class="fas fa-bug"><span th:text="${subject.getSubjectStatus()}"></span></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-primary">
                                        <i class="fas fa-bug"><span th:text="${subject.getSubjectType()}"></span></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<div th:include="starter :: asideRight"></div>
</div>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<div th:include="starter :: footer"></div>

<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<div th:include="starter :: scripts"></div>
</body>
</html>
